* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(252, 252, 212);
    color: rgb(10, 68, 61);
    line-height: normal;
    box-sizing: border-box;
}


/* JUMBOTRON SECTION */

.landing {
    height: 90vh;
    width: 100vw;
    align-items: center;
}

.jumbo {
    margin: auto;
    margin-top: 60px;
    text-align: left;
    width: 60%;
}

.jumbo h1 {
    font-size: 80px;
    padding: auto;
    margin: auto;
}

.jumbo h2 {
    font-size: 40px;
    padding: auto;
    margin: auto;
    color: rgb(0, 29, 197, 255);
}

.jumbo p {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
}

.jumbo-img {
    height: 600px;
    float: right;
    margin: 0;
    padding-bottom: 25px;
}

/* Why Section */

.why-landing {
    height: 90vh;
    width: 100vw;
}

.why {
    margin: auto;
    margin-top: 60px;
    text-align: center;
    width: 60%;
    float: center;
}

.why h1 {
    font-size: 80px;
    padding: auto;
    margin: auto;
}

.why ul {
    font-size: 20px;
    display: inline-block;
    text-align: left;
}

.why-img {
    height: 600px;
    margin: 0;
    padding-bottom: 25px;
    float: center;
    display: block;
}